.swiper-movies{
    /* background-color: red; */
    /* width: 100%; */
    flex:1;
    height: 300px;
    /* background-color: red; */
}
.swiper-slide-movies{
    width: 200px;
    height:300px;
}
.swiper-slide-movies img{
   width: 200px;
    height: 300px;
    border-radius: 14px;
}
@media (max-width:1024px) {
  .swiper-movies{
    height: 200px;
  }
    .swiper-slide-movies{
      width: 150px;
      height:200px;
  }
  .swiper-slide-movies img{
      width: 150px;
      height:200px;
  }
}


/* .swiper-slide-movies img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-movies {
  width: 80%;
}

.swiper-slide-movies:nth-child(2n) {
  width: 60%;
}

.swiper-slide-movies :nth-child(3n) {
  width: 40%;
} */