.mySwiper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.swiper_slide {
    display: flex;
    position: relative;
}

.teste {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    backdrop-filter: blur(10);
}
.swiper_slide::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.zindex{
    z-index: 1000;
}